flask
langchain
langsmith
langchain-community
langchain-huggingface
langchain-core
langchain-pinecone
# sentence-transformers
google-generativeai 
langchain-google-genai 
IPython
ipykernel
python-dotenv
pymupdf
langchain-groq
qrcode[pil]

