flask
langchain
langchain-community
langchain-huggingface
langchain-pinecone
sentence-transformers
google-generativeai 
langchain-google-genai 
IPython
ipykernel
python-dotenv
pypdf
pymupdf
# pinecone-client
# pinecone-notebooks
